<p class="summary"><%- d.summary %></p>
<div class="chart">
  <div class="y-axis left">
    <div class="max">100%</div>
    <div class="min">0%</div>
  </div>
  <div class="left_chart"></div>
  <div class="center_chart"></div>
  <div class="right_chart"></div>
  <div class="y-axis right">
    <div class="max">100%</div>
    <div class="min">0%</div>
  </div>
</div>
