<p class="reason"><%= Texts.get('help/reason/article.html',d.helped) %></p>
<div class="thumbnail"><span class="wiki">W<span></div>
<p class="source"><span class="source">źródło:</span><%- d.source.website.name %></p>
<p class="title"><span class="text"><%- d.title %></span><span class="shadow_cropper"></span></p>
<p class="duration"><%- d.duration%></p>
