<input type="text" class="form-control" placeholder="<%- Texts.get('matching_bucket/label/placeholder',d.number)%>">
<ul class="left_list"></ul>
<ul class="right_list"></ul>
<button class="btn btn-xs btn-primary match"><%- Texts.get('matching_bucket/match/label') %></button>
<button class="btn btn-xs btn-default unmatch"><%- Texts.get('matching_bucket/unmatch/label') %></button>
<button class="btn btn-xs btn-default deselect_all"><%- Texts.get('matching_bucket/deselect_all/label') %></button>
<button class="btn btn-xs btn-default empty"><%- Texts.get('matching_bucket/empty/label') %></button>
