<div class="user">
  <div class="nick"><%- d.user.nick %></div>
  <div class="avatar"><img src="<%- d.user.avatar %>"></div>
  <div class="dot"></div>
  <div class="points"><%- d.user.points %>%</div>
</div>