<div class="legend">
  <div class="point1"><span>początek wizyty</span></div>
  <div class="point5"><span>teraz</span></div>
</div>
<div class="scroll-container"><div class="scroll-inside"></div></div>
<div class="graph_container"><div class="graph"></div></div>
