<div class="upper">
  <div class="task_viewer_container">task</div>
</div>
<div class="lower">
  <div class="prev active_only"></div>
  <div class="history">history</div>
  <div class="next active_only"></div>
</div>
<div class="side">
  <div class="help">help</div>
</div>
