<div class="dropdown tags">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><%- Texts.get('task_template_edit/tags/label') %><span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
  </ul>
</div>
