<h1><%- Texts.get('templates_list/header')%></h1>
<div class="filter_control">placeholder</div>
<div class="templates_list"></div>
<button class="btn btn-primary create_new_template"><%- Texts.get('templates_list/create_new_template/label')%></button>
<button class="btn btn-primary create_new_skill"><%- Texts.get('templates_list/create_new_skill/label')%></button>
