<div class="legend">
  <div class="point1"><span>założenie konta</span></div>
  <div class="point2"><span>miesiąc temu</span></div>
  <div class="point3"><span>tydzień temu</span></div>
  <div class="point4"><span>początek wizyty</span></div>
  <div class="point5"><span>teraz</span></div>
</div>
<div class="scroll-container"><div class="scroll-inside"></div></div>
<div class="graph_container"><div class="graph"></div></div>
