<div class="introducer"></div>
<div class="elevator_speech_layer">
  <div class="elevator_speech">
    <p><%= Texts.get('welcome/elevator_speech.html') %></p>
    <div class="buttons">
      <button class="btn btn-primary btn-lg tour"><%- Texts.get('welcome/tour/label') %></button>
      <button class="btn btn-default btn-lg login"><%- Texts.get('welcome/login/label') %></button>
    </div>
  </div>
</div>
