<p><%= Texts.get('report/whats_next/explanation.html')%></p>
<div class="graph_container"><div class="graph"></div></div>
<button class="btn btn-default start_quiz"><%= Texts.get('report/start_quiz.html')%></button>
